*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
color: black;
font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    font-size: 1rem;
    
}
.car{
    background-color: #F4511F;
    border-radius: 5px;
    

}
a{
    text-decoration: none;
    color: black;


}
nav{
    display: flex;
    align-items: center;
    gap: 1rem;

}
.bann{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ban{
    display: flex;
    align-items: center;
    background-color: #F4511F;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.text-banner{
    max-width: 40rem;
}
.btn{
    background-color: #F4511F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    margin-top: 2rem;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
    margin-top: 5rem;
    
}
.service img{
    width: 7rem;
    height: 7rem;
    
}

.span-service{
    text-align: center;
}
.img1{
    display: flex;
    justify-content: center;
}

.menu-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 13rem;
    margin-top: 10rem;
    max-width: 50rem;
}
.menu-principal p {
    text-align: center;
}
.img-menu{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.li{
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
}
.menu-lok{
    display: flex;
    justify-content: center;
}



@media (max-width: 999px) {

        nav a{
            display: none;
        }

        .text-banner{
            display: none;
        }
        .btn{
            display: none;
        }
        


}

